.myAccount-container {
  display: flex;
  column-gap: 20px;
}

.myAccount-logo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.myAccount-right-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
