.videoplayer-container-main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.videoplayer-left {
  flex: 3;
}

.video-player {
  width: 100%;
}

.main-video {
  width: 100%;
  border-radius: 10px;
}

.videoPlayer-title {
  font-size: 20px;
  font-family: "Roboto", "Arial", sans-serif;
}
.videoPlayer-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.user-logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(209, 208, 208);
}

.channelName {
  font-weight: bold;
}

.subscribers {
  font-size: 12px;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.subscribe-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #cc0000;
}

.subscribe-btn.subscribed {
  background-color: #929292;
}

.like-dislike-wrapper {
  display: flex;
}

.like-btn,
.dislike-btn {
  font-size: 22px;
  background-color: #f2f3f3;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-btn:hover,
.dislike-btn:hover {
  background-color: #e1e1e1;
}

.like-btn {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 1px solid #e4e4e4;
}

.dislike-btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 1px solid #e4e4e4;
}

.like-count,
.dislike-count {
  font-size: 14px;
  margin-left: 5px;
}

.hr-seperator {
  width: 100%;
  border: 1px solid #e8e8e8;
}
.video-description {
  margin-top: 25px;
  padding-top: 10px;
  color: #555;
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 15px;
}

.video-stats {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #383737;
  font-weight: 600;
}

.description-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #333;
  margin-top: 10px;
}

.views,
.videoPlayer-upload-date {
  margin-right: 5px;
}

.separator {
  margin-right: 4px;
  font-size: 8px;
}

.videoplayer-right {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.related-videos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
